* { margin: 0; padding: 0; }
body { font: 16px Helvetica, Sans-Serif; line-height: 24px; background: url(../img/noise.jpg); }
.clear { clear: both; }
#page-wrap { width: 800px; margin: 40px auto 60px; }
#pic { float: right; margin: -30px 0 0 0; }
h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
p { margin: 0 0 16px 0; }
a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
a:hover { border-bottom-style: solid; color: black; }
ul { margin: 0 0 32px 17px; }
#objective { width: 500px; float: left; }
#objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
dd { width: 600px; float: right; }
dd.clear { float: none; margin: 0; height: 15px; }

/*

CSS Social Icons
By: Nick La (@nickla)
http://webdesignerwall.com/tutorials/css-social-buttons

Version: 1.0

*/

/************************************************************************************
SOCIAL LINK a.sb
*************************************************************************************/
a.sb,
.sb a {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	color: #333;
	text-decoration: none;
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0 2px 5px 0;
	
	/* default button color */
	background-color: #ececec;
	border: solid 1px #b8b8b9;
	
	/* default box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);

	/* default border radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
/* for IE */
*:first-child+html a.sb,
*:first-child+html .sb a {
	text-indent: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}


/* SB LIST
================================================ */
.sb {
	margin: 0;
	padding: 0;
}
.sb li {
	margin: 0;
	padding: 0;
	display: inline;
}


/* SIZES
================================================ */
/* small */
a.sb.small,
.sb.small a {
	width: 26px;
	height: 26px;
	font-size: 90%;
}

/* large */
a.sb.large,
.sb.large a {
	width: 40px;
	height: 40px;
	font-size: 120%;
}


/* COLORS
================================================ */

/* default hover */
a.sb:hover:after,
.sb a:hover:after {
	background-image: none;
}
a.sb:hover,
.sb a:hover,
a.sb:hover:after,
.sb a:hover:after {
	background-color: #f3f3f3;
}


/* STYLES
================================================ */

/* min style */
a.sb.min,
.sb.min a {
	background-color: transparent;
	border: none;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


/* ICONS
================================================ */
a.sb.twitter,
.sb a.twitter {
	background-image: url(../img/social/twitter_bird.png);
}

a.sb.facebook,
.sb a.facebook {
	background-image: url(../img/social/facebook.png);
}

a.sb.heart,
.sb a.heart {
	background-image: url(../img/social/heart.png);
}

a.sb.linkedin,
.sb a.linkedin {
	background-image: url(../img/social/linkedin.png);
}

a.sb.pinterest,
.sb a.pinterest {
	background-image: url(../img/social/pinterest.png);
}

a.sb.podcast,
.sb a.podcast {
	background-image: url(../img/social/podcast.png);
}

a.sb.rss,
.sb a.rss {
	background-image: url(../img/social/rss.png);
}

a.sb.share_this,
.sb a.share_this {
	background-image: url(../img/social/share_this.png);
}

a.sb.star,
.sb a.star {
	background-image: url(../img/social/star.png);
}

a.sb.vimeo,
.sb a.vimeo {
	background-image: url(../img/social/vimeo.png);
}
a.sb.youtube {
	background-image: url(../img/social/youtube.png);
}
a.sb.email {
	background-image: url(../img/social/email.png);
}
a.sb.github {
	background-image: url(../img/social/Github.png);
	background-size:45px 45px;
}