<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv=“X-UA-Compatible” content=“IE=edge” />

<title>Curriculum Vitae Calzavara Nicolo'</title> 
<link rel="stylesheet" type="text/css" href="css/vendors/bootstrap/3.1.1/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/main.css">

<script type="text/javascript" src="js/vendors/angular/1.2.16/angular.js"></script>
<script type="text/javascript" src="js/vendors/angular/1.2.16/angular-resource.min.js"></script>
<script type="text/javascript" src="js/vendors/angular/1.2.16/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/vendors/angular-ui/0.10.0/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script type="text/javascript" src="js/vendors/webfont/1.5.2/webfont.min.js"></script>
<script type="text/javascript" src="js/curriculum-local.json"></script>

<script type="text/javascript" src="js/mainHttp.js"></script>
<script type="text/javascript" src="js/mainService.js"></script>
<script type="text/javascript" src="js/mainController.js"></script>

</head>

<body ng-app="mainApp" style="padding-top:20px;">

    <div id="page-wrap" ng-controller="mainController" ng-cloak>
    
        <img ng-src="{{curriculum.photo_path}}" height="220px" alt="{{curriculum.alt_photo}}" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <h1 class="fn">{{curriculum.lastName}} {{curriculum.firstName}}</h1>
            <p>Where you can find me:<br/> {{curriculum.address.via}}. {{curriculum.address.city}} <br/>{{curriculum.address.cap}} - {{curriculum.address.provincia}}
            </p>
            <p>Socials:</p>
            <p>
<!--                 Cell: <span class="tel">{{curriculum.phoneNumber[1].number}}</span><br /> -->
                Email: <a class="email" href="mailto:{{curriculum.email}}">{{curriculum.email}}</a>
            </p>
        </div>

        <div id="objective">
            <p>{{curriculum.summary_personal}}</p>
            <p>{{curriculum.summary_prof}}</p>
            <p>{{curriculum.summary_funny_label}}<span>"{{curriculum.summary_funny}}"</span></p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd ng-repeat="educazione in curriculum.education_list" >
                <h2>{{educazione.ed_title}}</h2>
                <p> {{educazione.ed_course}}
                <br/>
                    {{educazione.ed_location}} - 
                <strong>{{educazione.ed_inizio}} - {{educazione.ed_fine}}</strong>
                &nbsp;
                <!-- <br/> -->
                   {{curriculum.grade_label}}{{educazione.ed_grade}}
                </p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Skills</dt>
            <dd>
                <h2>Office skills</h2>
                <p>{{curriculum.office_skills}}</p>
                
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd ng-repeat="esp in curriculum.experience_list">
                <h2>{{esp.name}}<span>{{esp.location}}</span></h2>
                <ul>
                    <li>{{esp.details}}</li>
                    <li>{{esp.role}}</li>
                    <li>{{esp.environment}}</li>
                </ul> 
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Hobbies</dt>
            <dd>
                <li ng-repeat="hobby in curriculum.hobbies">{{hobby}}</li>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>References</dt>
            <dd>See likedin reccomendations</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>

</div>

</body>
</html>
